<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:property-placeholder location="classpath:paymentsApp.properties"/>-->
<!--    // XML-configuration-->
<!--    <bean id="webapp" class="ru.sbrf.payment.app.WebApp"/>-->
<!--    <bean id="serverBank1" scope="prototype" class="ru.sbrf.payment.server.${ServerName}"/>-->
<!--    <bean id="serverBank2" scope="prototype" class="ru.sbrf.payment.server.ServerBank2"/>-->

    <context:component-scan base-package="ru.sbrf.payment"/>



</beans>